  <div class="bg-gray-800 min-h-screen flex justify-center">
    <div
      class="overflow-x-auto px-8 pt-6 pb-8 mb-4 max-w-4xl mx-auto sm:rounded-lg"
    >
    <div *ngIf="mensajeAlerta" [ngClass]="alertaTipo === 'success' ? 'bg-green-100 border-green-500 text-green-700' : 'bg-red-100 border-red-500 text-red-700'" class="relative border-l-4 p-4 mb-4 w-full">
      <p class="font-bold">{{ mensajeAlerta }}</p>
      <button (click)="cerrarAlerta()" class="absolute top-0 right-0 m-2 text-gray-500 hover:text-gray-900">
        X
      </button>
    </div>
      <div
        class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4"
      >
      
        <!-- Search -->
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
          <div
            class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <input
            type="text"
            id="table-search"
            class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search for items"
            [(ngModel)]="searchTerm" 
            (input)="filterTable(searchTerm)"
          />
        </div>
      </div>
      <div class="overflow-x-auto">
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">Primer Apellido</th>
              <th scope="col" class="px-6 py-3">Segundo Apellido</th>
              <th scope="col" class="px-6 py-3">Primer Nombre</th>
              <th scope="col" class="px-6 py-3">Otros Nombres</th>
              <th scope="col" class="px-6 py-3">Pais del Empleo</th>
              <th scope="col" class="px-6 py-3">Tipo de Identificacion</th>
              <th scope="col" class="px-6 py-3">Numero de Identificacion</th>
              <th scope="col" class="px-6 py-3">Correo Electronico</th>
              <th scope="col" class="px-6 py-3">Fecha de Ingreso</th>
              <th scope="col" class="px-6 py-3">Área</th>
              <th scope="col" class="px-6 py-3">Estado</th>
              <th scope="col" class="px-6 py-3">Fecha y hora de registro</th>
              <th scope="col" class="px-6 py-3">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngIf="registrosFiltrados.length == 0"
              class="flex justify-center items-center w-full"
            >
              <td class="w-4 p-4">
                <p
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white w-full"
                >
                  No hay registros en la base de datos o la busqueda realizada no encuentra ningun dato
                </p>
              </td>
            </tr>
            <ng-container *ngIf="registrosFiltrados.length !== 0">
              <tr
                *ngFor="let datos of obtenerRegistrosPaginados()"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
              >
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  {{ datos.primer_apellido }}
                </th>
                <td class="px-6 py-4">
                  {{ datos.segundo_apellido }}
                </td>
                <td class="px-6 py-4">
                  {{ datos.primer_nombre }}
                </td>
                <td class="px-6 py-4">
                  {{ datos.otros_nombres }}
                </td>
                <td class="px-6 py-4">
                  {{ datos.pais }}
                </td>
                <td class="px-6 py-4">
                  {{ datos.tipo_identificacion }}
                </td>
                <td class="px-6 py-4">
                  {{ datos.numero_identificacion }}
                </td>
                <td class="px-6 py-4">
                  {{ datos.correo_electronico }}
                </td>
                <td class="px-6 py-4">
                  {{ datos.fecha_ingreso }}
                </td>
                <td class="px-6 py-4">
                  {{ datos.area }}
                </td>
                <td class="px-6 py-4">
                  {{ datos.estado }}
                </td>
                <td class="px-6 py-4">
                  {{ datos.fecha_registro }}
                </td>
                <td class="px-6 py-4">
                  <a
                    href="#"
                    (click)="abrirModalEditar(datos)"
                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-2"
                    >Editar</a
                  >
                  <a
                    href="#"
                    (click)="abrirModalEliminar()"
                    class="font-medium text-red-600 dark:text-red-500 hover:underline ml-2"
                    >Eliminar</a
                  >
                </td>
                <!-- Modal de Confirmación de Eliminación -->
                <div
                  *ngIf="mostrarModalEliminar"
                  class="fixed inset-0 z-50 flex items-center justify-center overflow-auto bg-opacity-70"
                >
                  <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full">
                    <h2 class="text-xl font-semibold mb-4">
                      Confirmación de Eliminación
                    </h2>
                    <p class="mb-6">
                      ¿Está seguro de que desea eliminar el empleado? : {{ datos.primer_nombre}} {{ datos.primer_apellido}}
                    </p>
                    <div class="flex justify-end space-x-4">
                      <button
                        (click)="confirmarEliminacion(datos.id)"
                        class="px-4 py-2 bg-red-600 text-white rounded-lg"
                      >
                        Sí
                      </button>
                      <button
                        (click)="cerrarModalEliminar()"
                        class="px-4 py-2 bg-gray-300 text-black rounded-lg"
                      >
                        No
                      </button>
                    </div>
                  </div>
                </div>
                <!-- Modal para Editar Datos -->
                <div *ngIf="mostrarModalEditar" class="fixed inset-0 z-50 flex items-center justify-center overflow-auto bg-opacity-50" >
                  <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full overflow-auto max-h-screen mt-24 mb-24">
                    <h2 class="text-2xl font-semibold mb-4 text-gray-800">Editar Empleado</h2>
                    <form
                    [formGroup]="registroForm"
                    (ngSubmit)="guardarCambios(datos.id)"
                    
                  >
                    <!-- Primer Apellido -->
                    <div class="mb-4 w-full">
                      <label
                        class="block text-gray-700 text-sm font-bold mb-2"
                        for="primerApellido"
                        >Primer Apellido</label
                      >
                      <input
                        maxlength="20"
                        formControlName="primerApellido"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-sm text-gray-700 border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                        id="primerApellido"
                        type="text"
                        placeholder="Primer Apellido"
                        name="primerApellido"
                        [(ngModel)]="empleadoSeleccionado.primer_apellido"
                      />
                      <div
                        *ngIf="
                          registroForm.get('primerApellido')?.invalid &&
                          (registroForm.get('primerApellido')?.dirty ||
                            registroForm.get('primerApellido')?.touched)
                        "
                        class="text-red-500 text-xs italic"
                      >
                        <div *ngIf="registroForm.get('primerApellido')?.errors?.['']">
                          El primer apellido es requerido.
                        </div>
                        <div *ngIf="registroForm.get('primerApellido')?.errors?.['pattern']">
                          El primer apellido debe contener solo letras mayúsculas.
                        </div>
                        <div *ngIf="registroForm.get('primerApellido')?.errors?.['maxlength']">
                          El primer apellido no puede tener más de 20 caracteres.
                        </div>
                      </div>
                    </div>
                    <!-- Segundo Apellido -->
                    <div class="mb-4 w-full">
                      <label
                        class="block text-gray-700 text-sm font-bold mb-2"
                        for="segundoApellido"
                        >Segundo Apellido</label
                      >
                      <input
                        maxlength="20"
                        formControlName="segundoApellido"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-sm text-gray-700 border-gray-300 focus:ring-blue-500 focus:border-blue-500"                      id="segundoApellido"
                        type="text"
                        placeholder="Segundo Apellido"
                        name="segundoApellido"
                        [(ngModel)]="empleadoSeleccionado.segundo_apellido"
                      />
                      <div
                        *ngIf="
                          registroForm.get('segundoApellido')?.invalid &&
                          (registroForm.get('segundoApellido')?.dirty ||
                            registroForm.get('segundoApellido')?.touched)
                        "
                        class="text-red-500 text-xs italic"
                      >
                        <div *ngIf="registroForm.get('segundoApellido')?.errors?.['']">
                          El segundo apellido es requerido.
                        </div>
                        <div *ngIf="registroForm.get('segundoApellido')?.errors?.['pattern']">
                          El segundo apellido debe contener solo letras mayúsculas.
                        </div>
                        <div *ngIf="registroForm.get('segundoApellido')?.errors?.['maxlength']">
                          El segundo apellido no puede tener más de 20 caracteres.
                        </div>
                      </div>
                    </div>
                    <!-- Primer Nombre -->
                    <div class="mb-4 w-full">
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="primerNombre"
                        >Primer Nombre</label
                      >
                      <input
                        maxlength="20"
                        formControlName="primerNombre"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-sm text-gray-700 border-gray-300 focus:ring-blue-500 focus:border-blue-500"                      id="primerNombre"
                        type="text"
                        placeholder="Primer Nombre"
                        name="primerNombre"
                        [(ngModel)]="empleadoSeleccionado.primer_nombre"
                      />
                      <div
                        *ngIf="
                          registroForm.get('primerNombre')?.invalid &&
                          (registroForm.get('primerNombre')?.dirty ||
                            registroForm.get('primerNombre')?.touched)
                        "
                        class="text-red-500 text-xs italic"
                      >
                        <div *ngIf="registroForm.get('primerNombre')?.errors?.['']">
                          El primer nombre es requerido.
                        </div>
                        <div *ngIf="registroForm.get('primerNombre')?.errors?.['pattern']">
                          El primer nombre debe contener solo letras mayúsculas.
                        </div>
                        <div *ngIf="registroForm.get('primerNombre')?.errors?.['maxlength']">
                          El primer nombre no puede tener más de 20 caracteres.
                        </div>
                      </div>
                    </div>
                    <!-- Otros Nombres -->
                    <div class="mb-4 w-full">
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="otrosNombres"
                        >Otros Nombres</label
                      >
                      <input
                        maxlength="50"
                        formControlName="otrosNombres"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-sm text-gray-700 border-gray-300 focus:ring-blue-500 focus:border-blue-500"                      id="otrosNombres"
                        type="text"
                        placeholder="Otros Nombres"
                        name="otrosNombres"
                        [(ngModel)]="empleadoSeleccionado.otros_nombres"
                      />
                      <div
                        *ngIf="
                          registroForm.get('otrosNombres')?.invalid &&
                          (registroForm.get('otrosNombres')?.dirty ||
                            registroForm.get('otrosNombres')?.touched)
                        "
                        class="text-red-500 text-xs italic"
                      >
                        <div *ngIf="registroForm.get('otrosNombres')?.errors?.['']">
                          Otros Nombres es requerido.
                        </div>
                        <div *ngIf="registroForm.get('otrosNombres')?.errors?.['pattern']">
                          Otros Nombres debe contener solo letras mayúsculas.
                        </div>
                        <div *ngIf="registroForm.get('otrosNombres')?.errors?.['maxlength']">
                          Otros Nombres no puede tener más de 50 caracteres.
                        </div>
                      </div>
                    </div>
                    <!-- País del empleo -->
                    <div class="mb-4 w-full">
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="paisEmpleo"
                        >País del empleo</label
                      >
                      <select
                        formControlName="paisEmpleo"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-sm text-gray-700 border-gray-300 focus:ring-blue-500 focus:border-blue-500"                      id="paisEmpleo"
                        name="paisEmpleo"
                        [(ngModel)]="empleadoSeleccionado.pais"
                      >
                        <option value="Colombia" selected>Colombia</option>
                        <option value="Estados Unidos">Estados Unidos</option>
                      </select>
                    </div>
                    <!-- Tipo de Identificación -->
                    <div class="mb-4 w-full">
                      <label
                        class="block text-gray-700 text-sm font-bold mb-2"
                        for="tipoIdentificacion"
                        >Tipo de Identificación</label
                      >
                      <select
                        formControlName="tipoIdentificacion"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-sm text-gray-700 border-gray-300 focus:ring-blue-500 focus:border-blue-500"                      id="tipoIdentificacion"
                        name="tipoIdentificacion"
                        [(ngModel)]="empleadoSeleccionado.tipo_identificacion"
                      >
                        <option value="Cédula de Ciudadanía" selected>
                          Cédula de Ciudadanía
                        </option>
                        <option value="Cédula de Extranjería">Cédula de Extranjería</option>
                        <option value="Pasaporte">Pasaporte</option>
                        <option value="Permiso Especial">Permiso Especial</option>
                      </select>
                    </div>
                    <!-- Número de Identificación -->
                    <div class="mb-4 w-full">
                      <label
                        class="block text-gray-700 text-sm font-bold mb-2"
                        for="numeroIdentificacion"
                        >Número de Identificación</label
                      >
                      <input
                        maxlength="20"
                        formControlName="numeroIdentificacion"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-sm text-gray-700 border-gray-300 focus:ring-blue-500 focus:border-blue-500"                      id="numeroIdentificacion"
                        type="text"
                        placeholder="Número de Identificación"
                        name="numeroIdentificacion"
                        [(ngModel)]="empleadoSeleccionado.numero_identificacion"
                      />
                      <div
                        *ngIf="
                          registroForm.get('numeroIdentificacion')?.invalid &&
                          (registroForm.get('numeroIdentificacion')?.dirty ||
                            registroForm.get('numeroIdentificacion')?.touched)
                        "
                        class="text-red-500 text-xs italic"
                      >
                        <div
                          *ngIf="registroForm.get('numeroIdentificacion')?.errors?.['']"
                        >
                          Numero Identificacion es requerido.
                        </div>
                        <div
                          *ngIf="registroForm.get('numeroIdentificacion')?.errors?.['pattern']"
                        >
                          Numero de Identificacion solo debe ser numero
                        </div>
                      </div>
                    </div>
                    <!-- Correo electrónico -->
                    <div class="mb-4 w-full">
                      <label
                        class="block text-gray-700 text-sm font-bold mb-2"
                        for="correoElectronico"
                        >Correo electrónico</label
                      >
                      <input
                        formControlName="correoElectronico"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-sm text-gray-700 border-gray-300 focus:ring-blue-500 focus:border-blue-500"                      id="correoElectronico"
                        type="email"
                        placeholder="Correo electrónico"
                        name="correoElectronico"
                        [disabled]="true"
                        readonly
                        [(ngModel)]="empleadoSeleccionado.correo_electronico"
                      />
                    </div>
                    <!-- Fecha de ingreso -->
                    <div class="mb-4 w-full">
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="fechaIngreso"
                        >Fecha de ingreso</label
                      >
                      <input
                        formControlName="fechaIngreso"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-sm text-gray-700 border-gray-300 focus:ring-blue-500 focus:border-blue-500"                      id="fechaIngreso"
                        type="date"
                        name="fechaIngreso"
                        [(ngModel)]="empleadoSeleccionado.fecha_ingreso"
                      />
                      <div
                        *ngIf="
                          registroForm.get('fechaIngreso')?.invalid &&
                          (registroForm.get('fechaIngreso')?.dirty ||
                            registroForm.get('fechaIngreso')?.touched)
                        "
                        class="text-red-500 text-xs italic"
                      >
                        <div *ngIf="registroForm.get('fechaIngreso')?.errors?.['']">
                          Fecha de Ingreso es requerido.
                        </div>
                        <div
                          *ngIf="registroForm.get('fechaIngreso')?.errors?.['fechaInvalida']"
                        >
                          La fecha de ingreso no debe ser superior a la actual minimo un mes
                          menor al actual.
                        </div>
                      </div>
                    </div>
                    <!-- Área -->
                    <div class="mb-4 w-fulL">
                      <label class="block text-gray-700 text-sm font-bold mb-2" for="area"
                        >Área</label
                      >
                      <select
                        formControlName="area"
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-sm text-gray-700 border-gray-300 focus:ring-blue-500 focus:border-blue-500"                      id="area"
                        name="area"
                        [(ngModel)]="empleadoSeleccionado.area"
                      >
                        <option value="Administración" selected>Administración</option>
                        <option value="Financiera">Financiera</option>
                        <option value="Compras">Compras</option>
                        <option value="Infraestructura">Infraestructura</option>
                        <option value="Operación">Operación</option>
                        <option value="Talento Humano">Talento Humano</option>
                        <option value="Servicios Varios">Servicios Varios</option>
                      </select>
                    </div>
                    <!-- Estado -->
                    <input
                    class="mb-2 shadow appearance-none border rounded w-full py-2 px-3 text-sm text-gray-700 border-gray-300 focus:ring-blue-500 focus:border-blue-500"                    formControlName="estado"
                    
                      readonly
                      name="estado"
                      [(ngModel)]="empleadoSeleccionado.estado"
                    />
                    <!-- Fecha y hora de registro -->
                    <input
                    class="mb-2 shadow appearance-none border rounded w-full py-2 px-3 text-sm text-gray-700 border-gray-300 focus:ring-blue-500 focus:border-blue-500"                    formControlName="fechaRegistro"
                    
                      readonly
                      name="fechaRegistro"
                      [(ngModel)]="empleadoSeleccionado.fecha_registro"
                    />
                    <!-- Botón de enviar -->
                    <div class="flex justify-end space-x-4">
                      <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg">Actualizar Empleado</button>
                      <button type="button" (click)="cerrarModalEditar()" class="px-4 py-2 bg-gray-300 text-black rounded-lg">Cancelar</button>
                  </div>
                  </form>
                  </div>
                </div>
                

              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <nav class="flex items-center justify-between pt-4" aria-label="Table navigation">
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto">
          Showing <span class="font-semibold text-gray-900 dark:text-white">{{ calcularRangoRegistros() }}</span> of
          <span class="font-semibold text-gray-900 dark:text-white">{{totalRegistros}}</span>
        </span>
        <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
          <li>
            <button (click)="irPaginaAnterior()" class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</button>
          </li>
          
          <li>
            <button (click)="irPaginaSiguiente()" class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
